@import 'tailwindcss';

@theme {
    --color-background: #f5f5f7;
    --color-surface: #ffffff;
    --color-primary: #1d1d1f;
    --color-secondary: #86868b;
    --color-accent: #000000;
    --font-sans: "Inter", sans-serif;
    --font-serif: "Playfair Display", serif;

    --animate-fade-in-up: fade-in-up 1s ease-out forwards;
    --animate-slow-zoom: slow-zoom 20s linear infinite alternate;

    @keyframes fade-in-up {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slow-zoom {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }
}

@utility mask-gradient-left {
    mask-image: linear-gradient(to left, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%);
}

@layer base {
    body {
        @apply bg-background text-primary font-sans antialiased;
    }
}